/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.my-btn{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.my-btn:hover{
    border: 2px solid #30B868;
    background-color: transparent;
    color: #30B868;
    transition: 0.5s;
}

/* Navbar Section CSS */
header #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}
header #navbar .nav{
    list-style-type: none;
    display: flex;
    gap: 40px;
}
header #navbar .nav li a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
header #navbar .nav li a:hover{
    border: 2px solid #30B868;
    padding: 12px 16px;
    transition: 0.5s;
    color: #30B868;
    font-weight: 600;
}

/* Banner Section CSS */
#banner{
    background: linear-gradient(180deg, rgba(0,0,0,0.1)), url("./assets/hero-bg.png");
    padding: 100px 0;
}
#banner .banner-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
#banner .banner-parent .early-access-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: #ffffff;
    border-radius: 20px;
    color: #30B868;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
#banner .banner-parent h1{
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
}
#banner .banner-parent h1 span{
    color: #30B868;
}
#banner .banner-parent p{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #ffffff;
}
#banner .banner-parent .banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#banner .banner-parent .banner-btn .my-btn{
    display: flex;
    gap: 15px;
}
#banner .banner-parent .banner-btn .banner-2nd-btn{
    background: transparent;
    border: 2px solid #ffffff;
}
#banner .banner-parent .banner-btn .banner-2nd-btn:hover{border: 2px solid #30B868;}
/* Notes Section CSS */
#notes{margin-top: 50px;}
#notes .notes-title{text-align: center;}
#notes .notes-title h2{
    font-size: 48px;
    font-weight: 700;
}
#notes .notes-title p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin: 15px auto;
}
#notes .notes-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 40px;
}
#notes .notes-cards .notes-single-card{
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.06);
}
#notes .notes-cards .notes-single-card img{
    background: rgba(249, 85, 85, 1);
    padding: 10px;
    border-radius: 50%;
}
#notes .notes-cards .notes-single-card h3{
    font-size: 24px;
    font-weight: 600;
    margin: 10px auto;
}
#notes .notes-cards .notes-single-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    color: rgba(98, 115, 130, 1);
}
/* Notes Section CSS */